<div class="w-full text-center p-4">
    <h1>Page affichant mes éléments d'interfaces</h1>
    <div class="text-left">
        <Ui::SimpleSelect class="w-1/3" @label={{"Assigned to"}} @options={{this.options}} />
        <Ui::SimpleSelect class="w-1/3" @options={{this.options}} />
    </div>
</div>